.DS_Store
**/.DS_Store

# Unused raw source files not referenced by the site
img/Cerezo_callao.mp4
img/Gesha Pack_1.mp4
img/Gesha Pack_1_15s.mp4
img/40191B91-CB81-406E-9D74-D4CDDE838088.JPG
img/DSCF1609.jpg
img/DSCF1686.jpg
img/IMG_6696.png
img/IMG_7157.png
img/IMG_7409.png
img/IMG_7572.png
img/IMG_7709.png
img/Monkey.png
img/Untitled_.png
img/Untitled_1.79.1.png
img/brother_2.1.1.png
